<!doctype html>
<html lang="de">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{{title}}</title>
<meta name="description" content="{{description}}">
<link rel="icon" href="../img/kwm/logo.svg" type="image/svg+xml">
<link rel="preload" href="fonts/libre-caslon-display-normal-latin.woff2" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="fonts/jost-normal-latin.woff2" as="font" type="font/woff2" crossorigin>
<link rel="stylesheet" href="fonts/fonts.css">
<link rel="stylesheet" href="styles.css">
<link rel="stylesheet" href="css/pages.css">
{{extra}}
<link rel="stylesheet" href="css/signaturen.css">
<script>document.documentElement.classList.add('js');try{const g=new URLSearchParams(location.search).get('grund')||localStorage.getItem('kwm-grund');if(g)document.documentElement.dataset.grund=g}catch(e){}</script>
</head>
<body class="{{bodyClass}}">

<a class="skip" href="#inhalt">Zum Inhalt springen</a>
